<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Blog</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if (!locals.user) { %>
        <li class="nav-item">
          <a class="nav-link <%= locals.page === 'login' ? 'active' : "" %>" 
            <% if (locals.page === 'login' ) { %>
            aria-current="page"
            <% } %>
            href="/login"
          >
            Log in
          </a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link <%= locals.page === 'register' ? 'active' : "" %>"
            <% if (locals.page === 'login' ) { %>
            aria-current="page"
            <% } %>
            href="/register"
          >
            Register
          </a>
        </li>
        <% } else { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= locals.user.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/logout">Log out</a></li>
            </ul>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
